<strong>Olá, {{deliveryman.name}}</strong>
<p>Houve uma encomenda direcionada pra você, confira os detalhes abaixo:</p>
<p>
  <strong>Endereço: </strong> {{recipient}} <br/>
  <strong>Produto: </strong> {{date}} <br/>
  <br/>
  <small>
    O pedido da encomenda foi realizado: {{date}}
  </small>
</p>
